@using com.co.uan.DMiravalle.Inventario;
@{

    ViewBag.Title = "Tipos de productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grdTipo = new WebGrid(canSort: true, canPage: true, rowsPerPage: 30);
    grdTipo.Bind((List<TipoProducto>)ViewData["TiposProducto"]);
}
<script src="~/Scripts/DMiravalle/Inventario/TipoProducto.js"></script>

<h2 class="center">Tipos de producto</h2>
    @grdTipo.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header ",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    htmlAttributes: new { id = "grdTipo", @class = "" }
    , columns: grdTipo.Columns(
    grdTipo.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-pencil" onclick="CargarFormularioEdicion(@Html.Raw( String.Concat(new string[] { "'" +item.IdTipoProducto.ToString() + "-", item.CodigoReferencia + '-', item.Descripcion +"'"})));"></a></text>),
    grdTipo.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-trash-o" onclick="EliminarTipo(@Html.Raw(item.IdTipoProducto.ToString()));"></a></text>),
    grdTipo.Column("CodigoReferencia", "Código Referencia", canSort: true),
    grdTipo.Column("Descripcion", "Descripción", canSort: false)))

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="document" aria-hidden="true" id="divModalTipoProducto">
    <div class="modal-dialog modal-lg" style="max-width: 550px">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h3 id="Titulo" name="Titulo" class="modal-title text-blue text-center" style="margin:auto">Tipo Producto</h3>
                </div>
                <div id="divFormulario" class="form-actions">
                    <div class="form-group row">
                        <label for="txtNombre">Código de referencia:</label>
                        @Html.TextBox("CodigoReferencia", "", new { id = "CodigoReferencia", @class = "form-control", required = "true" })
                    </div>
                    <div class="form-group row">
                        <label for="txtNombre">Descripción:</label>
                        @Html.TextBox("Descripcion", "", new { id = "Descripcion", @class = "form-control", required = "true" })
                    </div>
                    <div class="form-group row align-center">
                        <input type="hidden" id="hddID" />
                        <button id="btnGuardar" class="btn btn-info" onclick="Guardar(); return false;" value="">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

