@using com.co.uan.DMiravalle.Administracion;
@{
    ViewBag.Title = "Sedes";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grdSede = new WebGrid(canSort: true, canPage: true, rowsPerPage: 30);
    grdSede.Bind((List<Sede>)ViewData["Sede"]);

}
<script src="~/Scripts/DMiravalle/Administracion/Sede.js"></script>
<h2 class="center">Sedes</h2>
@grdSede.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header ",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    htmlAttributes: new { id = "grdSede", @class = "" }
    , columns: grdSede.Columns(
    grdSede.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-pencil" onclick="EditarSede(@Html.Raw( String.Concat(new string[] { "'" +item.IdSede.ToString() + "|", item.Administrador.IdUsuario.ToString() + "|",item.NombreSede + '|', item.Ciudad  + "|", item.Direccion +"'"})));"></a></text>),
    grdSede.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-trash-o" onclick="EliminarSede(@Html.Raw(item.IdSede.ToString()));"></a></text>),
    grdSede.Column("NombreSede", "Nombre Sede", canSort: false),
    grdSede.Column("Ciudad", "Ciudad", canSort: false),
    grdSede.Column("Direccion", "Dirección", canSort: false),
    grdSede.Column("Administrador.Nombre", "Administrador", canSort: false)
    ))

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="document" aria-hidden="true" id="divModalSede">
    <div class="modal-dialog modal-lg" style="max-width: 550px">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h3 id="Titulo" name="Titulo" class="modal-title text-blue text-center" style="margin:auto">Sede</h3>
                </div>
                <div id="divFormulario" class="form-actions">
                    <div class="form-group row">
                        <label for="NombreSede">Nombre Sede:</label>
                        @Html.TextBox("NombreSede", "", new { id = "NombreSede", @class = "form-control", required = "true" })
                    </div>
                    <div class="form-group row">
                        <label for="Ciudad">Ciudad:</label>
                        @Html.TextBox("Ciudad", "", new { id = "Ciudad", @class = "form-control", required = "true" })
                    </div>
                     <div class="form-group row">
                        <label for="Direccion">Dirección:</label>
                        @Html.TextBox("Direccion", "", new { id = "Direccion", @class = "form-control", required = "true" })
                    </div>
                    <div class="form-group row">
                        <label for="TipoProducto">Administrador:</label>
                        @Html.DropDownList("Administrador", (SelectList)ViewData["Administradores"], new { id = "Administrador", @class = "form-control ", required = "" })
                    </div>
                    <div class="form-group row align-center">
                        <input type="hidden" id="hddID" />
                        <button id="btnGuardar" class="btn btn-info" onclick="Guardar(); return false;" value="">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
