@using com.co.uan.DMiravalle.Inventario;
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout.cshtml";
    WebGrid grdProducto = new WebGrid(canSort: true, canPage: true, rowsPerPage: 30);
    grdProducto.Bind((List<ProductoDTO>)ViewData["Producto"]);
}
<script src="~/Scripts/DMiravalle/Inventario/Producto.js"></script>
<script src="~/Scripts/DMiravalle/Inventario/Lote.js"></script>
<script src="~/Scripts/DMiravalle/Inventario/Inventarios.js"></script>

<script>
    function CargarFormularioEdicionLoteModificacion(Detalle) {
        var Ruta = '@Url.Content("~")';
        $('#divEdicionLote').load(Ruta + 'Lote/Edicion', function () {
            AbrirModal("divModalLote");
            CargarFormularioEdicionLote(Detalle);
        });
        return false;
    }

    function CargarFormularioEdicionLoteNuevo(Detalle)
    {
        var Ruta = '@Url.Content("~")';
         $('#divEdicionLote').load(Ruta + 'Lote/Edicion', function () {
            AbrirModal("divModalLote");
            CargarFormularioNuevoLote(Detalle);
        });
        return false;
    }

    function CargarFormularioLoteProducto(IdProducto, NombreProducto) {
        var Ruta = '@Url.Content("~")';
           $('#divDetalleLote').load(Ruta + 'Lote/ConsultaLotes?IdProducto=' + IdProducto, function () {
            AbrirModal("divModalDetalleLote");
            $("#TituloDetalleLote").empty();
            $("#TituloDetalleLote").append('Lotes del producto ' + NombreProducto);

        });
        return false;
    }



    function CargarFormularioInventarioEdicion(Detalle) {
        var Ruta = '@Url.Content("~")';
        $('#divEdicionInventario').load(Ruta + 'Inventario/Edicion', function () {
            AbrirModal("divModalInventario");
            CargarDetallesInventario(Detalle);
        });
        return false;
    }

    function CargarFormularioInventarioNuevo(Detalle) {
        var Ruta = '@Url.Content("~")';
        $('#divEdicionInventario').load(Ruta + 'Inventario/Edicion', function () {
            AbrirModal("divModalInventario");
            CargarDetallesInventarioNuevo(Detalle);
        });
        return false;
    }

    function CargarFormularioInventarioConsulta(IdLote, NombreProducto) {
        var Ruta = '@Url.Content("~")';
        $('#divDetalleInventario').load(Ruta + 'Inventario/Index?IdLote=' + IdLote, function () {
            AbrirModal("divModalDetalleInventario");
            $("#TituloDetalleInventario").empty();
            $("#TituloDetalleInventario").append('Inventario del producto ' + NombreProducto);

        });
        return false;
    }

</script>
<h2 class="center">Gestión de productos</h2>

<div class="widget-box">
    <div class="widget-header ui-autocomplete">
        <h4 class="widget-title">Consulta</h4>
        <div class="widget-toolbar">
            <a href="#" data-action="collapse">
                <i class="ace-icon fa fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <div class="widget-main">
            @using (Html.BeginForm(null, null, FormMethod.Post))
            {
                <div class="form-group row col-lg-offset-2">
                    <div class="col-lg-5  control-label no-padding-right">
                        <label for="TipoProducto">Tipo Producto:</label>
                        @Html.DropDownList("TipoProductoBus", (SelectList)ViewData["TiposProducto"], new { id = "TipoProductoBus", @class = "form-control " })
                    </div>
                    <div class="col-lg-5  control-label no-padding-right ">
                        <label for="Nombre">Nombre:</label>
                        @Html.TextBox("Nombre", "", new { id = "Nombre", @class = "form-control " })
                    </div>
                </div>
                   <div class="row center">
                        <button id="btnConsultar" class="btn btn-info">Consultar</button>
                    </div>
            }
        </div>
    </div>
</div>




@grdProducto.GetHtml(
    tableStyle: "table table-responsive backcolor",
    headerStyle: "wedgrid-header ",
    footerStyle: "webgrid-footer",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
    htmlAttributes: new { id = "grdProducto", @class = "" }
    , columns: grdProducto.Columns(
    grdProducto.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-pencil" title="Editar Producto" onclick="CargarFormularioEdicion(@Html.Raw( String.Concat(new string[] { "'" +item.IdProducto.ToString() + "-", item.NombreProducto + '-', item.Tipo.IdTipoProducto +"'"})));"></a></text>),
    grdProducto.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-edit" title="Crear Lote" onclick="CargarFormularioEdicionLoteNuevo(@Html.Raw( "'" +item.IdProducto.ToString()+"'"));"></a></text>),
    grdProducto.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-eye" title="Ver Lotes" onclick="CargarFormularioLoteProducto(@Html.Raw( "'" +item.IdProducto.ToString()+"'"),@Html.Raw( "'" +item.NombreProducto +"'"));"></a></text>),
    grdProducto.Column(header: null, format:@<text><a href="#" class="ace-icon fa fa-trash-o" title="Eliminar Producto" onclick="EliminarProducto(@Html.Raw( "'" +item.IdProducto.ToString()+"'"));"></a></text>),
    grdProducto.Column("NombreProducto", "Producto", canSort: false),
    grdProducto.Column("Tipo.Descripcion", "Tipo producto", canSort: false)))

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="document" aria-hidden="true" id="divModalProducto">
    <div class="modal-dialog modal-lg" style="max-width: 550px">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h3 id="TituloProducto" name="TituloProducto" class="modal-title text-blue text-center" style="margin:auto">Producto</h3>
                </div>
                <div id="divFormulario" class="form-actions">
                    <div class="form-group row">
                        <label for="NombreProducto">Producto:</label>
                        @Html.TextBox("NombreProducto", "", new { id = "NombreProducto", @class = "form-control", required = "true" })
                    </div>
                    <div class="form-group row">
                        <label for="TipoProducto">TipoProducto:</label>
                        @Html.DropDownList("TipoProducto", (SelectList)ViewData["TiposProducto"], new { id = "TipoProducto", @class = "form-control ", required = "" })
                    </div>
                    <div class="form-group row align-center">
                        <input type="hidden" id="hddID" />
                        <button id="btnGuardar" class="btn btn-info" onclick="Guardar(); return false;" value="">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="document" aria-hidden="true" id="divModalLote">
    <div class="modal-dialog modal-lg" style="max-width: 550px">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h3 id="TituloLote" name="TituloLote" class="modal-title text-blue text-center" style="margin:auto">Creación de lote</h3>
                </div>
                <div id="divEdicionLote" class="form-actions">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="document" aria-hidden="true" id="divModalDetalleLote">
    <div class="modal-dialog modal-lg" style="max-width: 550px">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h3  id="TituloDetalleLote" name="TituloDetalleLote" class="modal-title text-blue text-center" style="margin:auto">Lotes</h3>
                </div>
                <div id="divDetalleLote" class="form-actions">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="document" aria-hidden="true" id="divModalInventario">
    <div class="modal-dialog modal-lg" style="max-width: 550px">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h3 id="TituloInventario" name="TituloLote" class="modal-title text-blue text-center" style="margin:auto">Creación de Inventario</h3>
                </div>
                <div id="divEdicionInventario" class="form-actions">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="document" aria-hidden="true" id="divModalDetalleInventario">
    <div class="modal-dialog modal-lg" style="max-width: 550px">
        <div class="modal-content">
            <div class="container">
                <div class="modal-header">
                    <h3 id="TituloDetalleInventario" name="TituloDetalleInventario" class="modal-title text-blue text-center" style="margin:auto">Inventarios</h3>
                </div>
                <div id="divDetalleInventario" class="form-actions">

                </div>
            </div>
        </div>
    </div>
</div>
